<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="gazzetta.it" class="gutenbot.gutenbot.parser.GazzettaParser"></bean>

	<bean id="corriereobjects.it" class="gutenbot.gutenbot.parser.CorriereParser"></bean>
	<bean id="motosprint.it" class="gutenbot.gutenbot.parser.MotosprintParser"></bean>

</beans>